.herosection {
  width: 100%;
}
.CoverPage {
  background-image: url(herobg.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 70%;
  /* background-size: cover; */
  /* padding: 2rem 9%; */
  color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
.orange {
  color: #f6740a;
}
.button {
  font-size: large;
  font-weight: 600;
  display: inline-block;
  padding: 1rem 1.3rem;
  /* background: linear-gradient(130deg, #f6740a 93%, transparent 90%); */
  color: #f6740a;
  border: 2px solid #f6740a;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.3rem;
  margin-left: 25%;
  transition: all 400ms;
}

.button:hover {
  background-color: #f6740a;
  color: #fff;
}

.button2 {
  background-color: #f6740a;
  color: white;
  border-radius: 20px;
  border-color: #f6740a;
  transition: all 0.2s ease-in-out;
}
.button2:hover {
  transform: scale(1.1);
}
.home {
  padding: 0;
  margin-top: 5rem;
}
.content {
  margin-left: 4%;
  margin-top: -4%;
}

.content h5 {
  font-size: 1.4rem;
  color: #d6d6d6;
  padding-bottom: 2rem;
}
.content span {
  font-size: 2rem;
  font-weight: 600;
  color: #d6d6d6;
  display: block;
}
.content h2 {
  font-size: 2.5rem;
  padding: 1rem 0;
}
