.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3% auto;
  gap: 80px;
}

.sectioncontainer > h1 {
  margin: 6% 0 1% 45%;
}
.sidebar {
  /* margin: 2rem 0 0 2rem; */
  left: 0;
  /* align-items: flex-start; */
  height: 80vh;
  width: 300px;
  border: 2px solid #f00;
  border-radius: 10px;
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.dashboard {
  width: 50%;
  align-items: end;
}
.main h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 4rem; */
  color: white;
  letter-spacing: 1.5px;
}
.overview {
  background: rgba(41, 49, 77, 0.4);
  border: 2px solid #f00;
  padding: 12px;
}
.sets {
  height: 15rem;
  margin-left: 5px;
}
.dashboard {
  margin-right: 2rem;
}
.dashbody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 2rem;
}
.headdash {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 4rem;
}
.Tracker {
  /* width: 90%; */
  margin: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: rgba(41, 49, 77, 0.4);
  border: 2px solid #f00;
  padding: 12px;
}

.activity {
  background: rgba(41, 49, 77, 0.4);
  border: 2px solid #f00;
  padding: 12px;
}
.workouts {
  background: rgba(41, 49, 77, 0.4);
  border: 2px solid #f00;
  padding: 12px;
  margin-top: 20px;
}

.recc {
  font-size: large;
}
@media (max-width: 1300px) {
  .headdash {
    display: flex;
    flex-direction: column;
  }
  .Tracker {
    width: 90%;
    flex-direction: column;
  }
}
