.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1% auto;
}
.container > h1 {
  margin: 100px auto 0 auto;
  text-decoration: underline;
}
.text {
  text-decoration: none;
  font-size: xx-large;
  color: #fff;
}

.aboutus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 5%;
}
.aboutus:nth-child(even) {
  flex-direction: row-reverse;
}
.textContainer {
  text-align: center;
  width: 45%;
  font-size: large;
}

.imageContainer img {
  /* padding-top: 100px; */
  border: 3px solid #f6740a;
  border-radius: 10px;
  width: 500px;
}
