.Navmain {
  backdrop-filter: blur(5px) saturate(196%);
  -webkit-backdrop-filter: blur(5px) saturate(196%);
  position: fixed;
  /* width: auto; */
  /* background-size: auto; */
  height: 0rem;
  top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container {
  margin-bottom: 5%;
  gap: 100px;
}
.heroicon {
  width: 4rem;
}

.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 10px;
}

.linkText {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
.linkText:hover {
  color: #f00;
}

.button3 {
  font-size: large;
  font-weight: 600;
  padding: 14px 20px 14px 20px;
  border-radius: 8px;
  background-color: rgb(215, 0, 0);
}
