@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Work+Sans:wght@300&display=swap");
* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
a:link {
  color: white;
}
html,
body {
  background-color: #110f13;
  /* background: linear-gradient(to bottom right, #210d0d, #000000); */
  color: #fff;
  /* color: ; */
}
